* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
main {
 margin: 10px;
}

.bar {
    height: 20px;
    border-radius: 10px;
    width: 200px;
    background-color: darkgrey;
    margin: 10px;
    overflow: hidden;
}

.inner-bar {
    height: 100%;
    background-color: green;
    width: 0%;
    border-radius: 10px;
    transition: width linear 200ms;
}

.title {
    margin-top: 10px;
}
/* ---------------------------------------------------------------------- */
.star-outer {
    position: relative;
    display: inline-block;
}

.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 67%;
    white-space: nowrap;
    overflow: hidden;
}

.star-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: fontAwesome;
    color: #999;
    font-weight: 1000;
}

.star-inner::before {
    content:  "\f005 \f005 \f005 \f005 \f005";
    font-family: fontAwesome;
    color: rgb(243, 213, 14);
    font-weight: 100;
}
/* ------------------------------------------------------------------- */

nav ul{
display: flex;
justify-content: flex-end;
list-style: none;
background-color: crimson;
}

nav {
    margin-bottom: 10px;
}
nav ul >li {
    margin: 20px;
}
nav ul >li a {
    text-decoration: none;
    color: rgb(242, 203, 203);
    background-color: rgb(148, 15, 41);
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0 0px 6px 1px currentColor;
    transition: background-color linear 80ms;
}
nav ul >li a:hover {
    background-color: rgb(78, 13, 26);
}
nav ul >li a:active {
    box-shadow: 0 0 3px currentColor;
}