<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="./is2.js"></script>
    <link rel="STYleSheet" href="./is2.css">
</head>
<body>
    <div class="modal">

        <div class="inner-modal">
            this is modal
            <button class="close">X</button>
        </div>
    </div>
    <p class="cont">
        <button class="hamburger">
            <div>_</div>
            <div>_</div>
            <div>_</div>
        </button>
    </p>
   

</body>
</html>